
<video src="/video/bg.mp4" loop autoplay muted></video>
<img class="mainImg" src="/images/machine.png" alt="picture">

<a href="#">BUY NOW!</a>

<div class="underHead">
<div class="info">
<h1>{{title}}</h1>
<h3>{{message}}</h3>
</div>

<div class="diagram">
<img src="/images/foodPile.png" alt="">
</div>

<p class="desc">Its almost like magic! turn water (H2O) into any food (Yumm Glucose!!). Whether it's an icecream wonderland or spighetti tornato.. You could have it all!.. </p>
<p><span>*food may or may not be bigger than your house, crush you or come alive. we do not do refunds, returns and are not responosble for any tummy aches*</span></p>

</div>