*{
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-color: #001f4f;
  overflow-x: hidden;
  color: #fff;
}

a {
  color: #000;
  background-color: rgb(255, 184, 52);
  padding: 10px 20px;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

a:hover{
  background-color: rgb(255, 225, 170);
}

video{
  min-width: 100vw;
  max-width: 100vw;
  position: relative;
}

.mainImg{
  position: absolute;
  top: 6%;
  left: 25%;
  width: 50%;
}

.underHead{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
}

h1{
  font-size: 2.5em;
  -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgb(255, 184, 52);
}

h3{
  font-size: 1.5em;
}

.desc{
  font-size: 1.1em;
}

p span{
  font-size: 0.5em;
}

.diagram img{
  max-width: 30%;
}


.water{
  filter: brightness(100);
}

@media screen and (min-width: 760px){
  body{
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1000px){
  .mainImg{
    top: 12%;
    left: 27%;
  }
  h1,h3{
    position: absolute;
    left: 20px;
  }
  h1{
    top: 214px;
  }
  h3{
    top: 268px;
  }
  .desc{
    position: absolute;
    top: 400px;
    left: 20px;
    width: 400px;
    text-align: left;
  }

  .diagram{
    position: absolute; 
    top: 400px;
    right: 10px;
    width:35%;
  }

  .diagram img{
    max-width: 60%;
  }

  p span{
    font-size: 1em;
  }
}

@media screen and (min-width: 1000px){
  .mainImg{
    top: 15%;
    left: 27%;
  }
}